{%extends "blogapp/base.html" %}
{%block content%}

<h1>Welcome!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident perferendis optio fuga, 
    illum atque non laudantium eos commodi quam rem assumenda, sit impedit incidunt. Incidunt cum e
    xplicabo quidem repudiandae saepe suscipit amet? Vel repellendus l
    aboriosam reiciendis nesciunt itaque obcaecati, aut, tenetur cum tempor
    e reprehenderit impedit animi consequatur ea quas, culpa totam maxime! Molesti
     officia maiores vel placeat consequatur, hic quam odit non minima modi?
 </p>
<h5>Begin your journey</h5>
<a class="ml-2" href="{% url 'register' %}">Sign Up</a>
{% endblock content %}